{% extends 'base.html' %}
{% load static %}
{% load batch_filter %}
{% block content %}

<div class="container">

  <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">Course</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                  <li class="breadcrumb-item">
                      <a href="{% url 'home'  %}" class="text-muted">Home</a>
                  </li>
                  <li class="breadcrumb-item">                        
                    <a href="{% url 'course'  %}" class="text-muted"> Course</a>                    
                  </li>
                  <li class="breadcrumb-item">                           
                    {% with topics|first as first_topic %}                      
                      {% if first_topic %}                      											
                           <a href="{% url 'course_detail' first_topic.part.course.id  %}" class="text-muted">{{first_topic.part.course}} </a>
                      {% endif %}
                    {% endwith %}                  
                 </li>
                  <li class="breadcrumb-item">
                    <a href="#" class="text-muted"> Video</a>
                </li>
              </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
    </div>
</div>
<br>


   <h3>Videos</h3>

   <div class="row">
      <div class="col-sm-8"> 

        <p id="watchvideo"></p>
        <div class="kt-pricing-1__item col-lg-12 mt-5">                                                                                     
            
            
            
               <div  style="width: 640px; height: 480px; position: relative;">
                {% comment %}
                 <iframe src="" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation"  width="640" height="480" frameborder="0" scrolling="no" seamless="">
                 </iframe>
                 {% endcomment %}

                 <iframe width="640" height="480" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                 </iframe>
                 
            <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;"> </div>
      </div>
            
                                                                        
        </div>


      </div>
      <div class="col-sm-4 mt-4" style="overflow-y: scroll !important;height:480px;">

       {% for topic in topics %}

       <button class="collapsible mb-1">{{topic}} - {{topic.subject}}</button>
       <div class="material_content">
           <br>
         <ul>
             {% for video in topic.video_set.all %}                                                               
               
                {% get_batch video.topic.part.course.id user as course_enrolment %}

                  {% if course_enrolment.batch == video.batch %}                                  
                   
                      {% if video.date_comparing %}  
                         <li class="w-100 " style="list-style-type: none;">              
                          <div class="row pl-3 pt-3 ">             
                            <h3 class="text-dark-50 icon-xl  far fa-play-circle"> <a style="font-size:1.6rem;font-weight:bold;" class="video_list" href="#" data_link="{{video.link}}?ecver=1"> {{video.title}} </a></h3>
                          </div>
              
                        </li>
                      {% elif course_enrolment.is_lateral %}    
                         <li class="w-100 " style="list-style-type: none;">              
                          <div class="row pl-3 pt-3 ">
                            <h3 class="text-dark-50 icon-xl  far fa-play-circle"> <a style="font-size:1.6rem;font-weight:bold;" class="video_list" href="#" data_link="{{video.link}}?ecver=1"> {{video.title}} </a></h3>
                          </div>
              
                        </li>
                      {% endif %}
                     
                  {% endif %}
                        
             {% endfor %}

          </ul>

        </div>
        {% empty %}

           NO Videos Available for this Part
        

       {% endfor %}

      </div>
    
  </div>


</div>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
    </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


function getYouTubeVideoId(url) {
  const urlParams = new URLSearchParams(new URL(url).search); // Create URLSearchParams object from the query string
  return urlParams.get('v'); // Extract the 'v' parameter, which is the YouTube video ID
}

function cleanGoogleDriveUrl(url) {
    // Find the position of `/view` in the URL
    const viewIndex = url.indexOf("/view");
    
    // If `/view` is found, return the URL up to that point
    if (viewIndex !== -1) {
        return url.substring(0, viewIndex);  // Returns the URL up to /view
    }
    
    // If `/view` is not found, return the original URL
    return url;
}


    $(document).ready(function(){
        var link = $(".video_list:first").attr('data_link');  
        
        
        if(link.includes("drive.google.com"))
        {
            var url = cleanGoogleDriveUrl(link);
            var link = url + "/preview";

        }
        else if(link.includes("www.youtube.com"))
        {
          var video_id = getYouTubeVideoId(link);
          //var res = link.replace("view?ecver=1", 'preview');
          //var link = res;  
          var link = "https://www.youtube.com/embed/" + video_id ;

        }

       


        $('iframe').attr("src", link);
        $(".video_list:first").css('color','#010142');                                  

        $(".video_list").click(function(e){
            e.preventDefault();
            var link = $(this).attr('data_link');
           
              
          if(link.includes("drive.google.com"))
          {
            var url = cleanGoogleDriveUrl(link);
            var link = url + "/preview";

          }
          else if(link.includes("www.youtube.com"))
         {
          var video_id = getYouTubeVideoId(link);
          //var res = link.replace("view?ecver=1", 'preview');
          //var link = res;  
          var link = "https://www.youtube.com/embed/" + video_id ;

        }

                                             
            $('iframe').attr("src", link);
            $(".video_list").css('color','#7b7c84');
            $(this).css('color','black');
            $('#watchvideo')[0].scrollIntoView(true);                                         
                                                
            });

    });

  

</script>                               
                                




{% endblock %}