{% extends 'base.html' %}
{% load login_form_tags %}
{% load static %}

{% block content %}


<div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__body">
		
		
		<div class="container">

			<!--begin::Content body-->
			<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
				<!--begin::Signin-->
				<div class="login-form login-signin">
					<div class="text-center mb-1 mb-lg-20">
						<h3 class="font-size-h1">Change Password</h3>
						
					</div>
					<!--begin::Form-->

					


					<form method="POST" class="form" >
						{{form.non_field_errors}}
						{% csrf_token %}
						{% for field in form %}
						<div class="form-group">
							<div class="row">
								
								<div class="col-6 text-uppercase">{{field.label_tag}}</div>
								<div class="col-6 ">{{ field| addclass_profile:"form-control " }}</div>
							  </div>


						
						
					   
						{% if field.errors %}
						{{ field.errors }}
						
						{% endif %}
						<br>
						</div>
						{% endfor %}

						<div class="row">
								
							<div class="col-6 text-uppercase"><a href="{% url 'home' %}" class="text-dark-50 text-hover-primary align-items-right float-right mt-3 btn" ><h4 class="mt-2">cancel</h4></a></div>
							<div class="col-6 "><button type="submit" id="kt_login_signin_submitr" class="btn btn-primary font-weight-bold px-9 py-4 my-3">Submit</button></div>
						  </div>
						<div class="form-group d-flex flex-wrap justify-content-between align-items-center">
							
							
							
						</div>
						</form> <!--end::Form-->
				</div>
				<!--end::Signin-->
			
			</div>
			<!--end::Content body-->
			<!--begin::Content footer for mobile-->
		</div>



        </div>
      </div>
    </div>



{% endblock %}