{% extends 'base.html' %}
{% load static %}

{% load check_attempt_tags %}

{% block content %}
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->

										<a href="#"><h5 class="text-dark font-weight-bold my-1 mr-5">Daily MCQ</h5></a>
										<!--end::Page Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
											<li class="breadcrumb-item">
												<a href="{% url 'home'  %}" class="text-muted">Home</a>
											</li>
											<li class="breadcrumb-item">
												<a href="{%url 'daily_mcq' %}" class="text-muted">Month Wise</a>
											</li>
											<li class="breadcrumb-item">
												{% with test|first as first_test %}
													
													<a href="#" class="text-muted">{{ first_test.open_date|date:'F, Y' }} </a>
												{% endwith %}
												
											</li>
										</ul>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
							
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
              <!--begin::Container-->
    <div class="container">
		{% with test|first as first_test %}
			<h4>{{ first_test.open_date|date:'F, Y' }} </h4>
		{% endwith %}
			<div class="row">


			<div class="col-xl-6">
				<!--begin::List Widget 4-->
				<div class="card card-custom card-stretch gutter-b">
					<!--begin::Header-->
					<div class="card-header border-0">
						<h3 class="card-title font-weight-bolder text-dark">Test</h3>
						
					</div>
					<!--end::Header-->
					<!--begin::Body-->
					<div class="card-body pt-2">
						<!--begin::Item-->

						{% for test in test %}
						<div class="d-flex align-items-center mt-3">
							
							<div class="symbol symbol-40 symbol-light-primary mr-5">
								<span class="symbol-label">
									<span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-09-15-014444/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-list.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24"/>
											<path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
											<path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
											<rect fill="#000000" opacity="0.3" x="10" y="9" width="7" height="2" rx="1"/>
											<rect fill="#000000" opacity="0.3" x="7" y="9" width="2" height="2" rx="1"/>
											<rect fill="#000000" opacity="0.3" x="7" y="13" width="2" height="2" rx="1"/>
											<rect fill="#000000" opacity="0.3" x="10" y="13" width="7" height="2" rx="1"/>
											<rect fill="#000000" opacity="0.3" x="7" y="17" width="2" height="2" rx="1"/>
											<rect fill="#000000" opacity="0.3" x="10" y="17" width="7" height="2" rx="1"/>
										</g>
									</svg><!--end::Svg Icon--></span>
								</span>
							</div>
							<!--begin::Text-->
							<div class="d-flex flex-column flex-grow-1">
							
								{% if user.is_authenticated %}
										
								  {% if test.id|check__daily_mcq_attempt:request.user %}

								     {{test}}

								     <div class="row">										
										
								     	<div class="col-md-6 text-muted">
										  <a href="{% url 'daily_mcq_answer' test.id %}" >
											  View Result
										  </a>
									    </div>

								     </div>

									
							    	  
									{% else %}								
									
										<a href="{% url 'mcq_test' test.id %}" >
											{{test}}
										 </a>
										 Start date: {{test.open_date}}      
									

									{% endif %}
								
									 
							    {% else %}
								
									   <a href="{% url 'mcq_test' test.id %}" >
											 {{test}}
									   </a>      

									   <div class="row">										

										    <div class="col-md-6 text-muted">
												<a href="{% url 'mcq_test' test.id %}" >

												    Take Test
												</a>
											</div>

										</div>
	
									{% endif %}
							   
							   
							   
								
							</div>
							<!--end::Text-->
						
						</div>
						<!--end:Item-->
						{% empty %}

						No Test Available

						{% endfor %}
					   
						<!--end::Item-->
					</div>
					<!--end::Body-->
				</div>
				<!--end:List Widget 4-->
			</div>

		</div>
  </div>
  <!--end::Container-->

						</div>
						<!--end::Entry-->
					</div>


{% endblock %}