{% extends 'base.html' %}
{% load check_answer_tags %}

{% block content %}



<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
  <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex align-items-center flex-wrap mr-1">
      <!--begin::Page Heading-->
      <div class="d-flex align-items-baseline flex-wrap mr-5">
        <!--begin::Page Title-->
        <h5 class="text-dark font-weight-bold my-1 mr-5">Daily MCQ Answers</h5>
        <!--end::Page Title-->
        <!--begin::Breadcrumb-->
       
        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
          <li class="breadcrumb-item">
            <a href="{% url 'home'  %}" class="text-muted">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'daily_mcq' %}" class="text-muted">Daily MCQ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" class="text-muted">Answers</a>
          </li>
         
        </ul>
        
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page Heading-->
    </div>
    <!--end::Info-->
    <!--begin::Toolbar-->
    <div class="d-flex align-items-center mt-2">
      <!--begin::Actions-->
     

      <!--end::Actions-->
      <!--begin::Dropdown-->
    
      <!--end::Dropdown-->
    </div>
    <!--end::Toolbar-->
  </div>
</div>


<hr>
<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container mb-3">
    
    <div class="row justify-content-md-center">
    
    
    
    <!--table style1-->
      <div class="card card-custom gutter-b">
      <!--begin::Header-->
      
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body py-0">
        <!--begin::Table-->
        <div class="table-responsive">
          <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
            <thead>
              <tr class="text-uppercase">
               
                <th class="pl-0" style="min-width: 100px">Test Name</th>
                <th style="min-width: 120px">Score</th>
                <th style="min-width: 150px">Negative Score</th>                  
                
                
              </tr>
            </thead>
            <tbody>

       
                <tr>
               
                   <td class="pl-0 text-dark-75 font-weight-bolder d-block font-size-lg">
                    {{test}}
                   </td>
                   <td>
                      <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{mark}}</span>
                      
                   </td>
                  <td>
                      <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> {{negative_mark}}</span>
                     
                  </td>
               

            
             
                </tr>

              
            </tbody>
          </table>
        </div>
        <!--end::Table-->
      </div>
      <!--end::Body-->
    </div>
      <!--END-->
    </div>
  </div>
  <!--end::Container-->
</div>
<hr>
<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
 

  <!--end::Container-->
</div>



{% for question in question %}

<div class="row container">                    
 <div class="card w-100  m-2 p-2">
     <h5>Question:</h5>
     <ul>
         <span class="card-title">{{question.description|safe}}
     </ul>

     <h5>Optionss:</h5>
     
         <ul>
         {% for options in question.option_set.all %}
           
         <span>   {{options.description|safe}}	</span>
               
         {% endfor %}
         </ul>
     

     <h5> Answer :</h5>  
     <ul>
         <span>                
             {{question.correct_option.description|safe}}
         </span>
     </ul>  
     
 </div>

</div>
{% endfor %}




{% endblock %}