{% extends 'base.html' %}
{% load enrollment_tags %}

{% block content %}

{% load static %}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
      <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
          <!--begin::Page Heading-->
          <div class="d-flex align-items-baseline flex-wrap mr-5">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold my-1 mr-5">Mains Test Series</h5>
            <!--end::Page Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
              <li class="breadcrumb-item">
                <a href="{%url 'home' %}" class="text-muted">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#" class="text-muted">Test Series</a>
              </li>
            </ul>
            <!--end::Breadcrumb-->
          </div>
          <!--end::Page Heading-->
        </div>
        <!--end::Info-->
      </div>
    </div>
    <!--end::Subheader-->
</div>
    <hr>
    

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

         
            
            <div class="row">

               

                {% for assignment in assignments %}
                <div class="col-lg-6">
                    <!--begin::Mixed Widget 14-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title font-weight-bolder">{{assignment}}</h3>
                            
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body d-flex flex-column">
                            
                            <div class="pt-5 align-items-center">
                                
                                <p class="text-center"><img src="{%static 'assets/media/pic.png' %}" alt="" ></p>
                                <p class="text-center font-weight-normal font-size-lg pb-7" style="text-align: center;margin: auto;">
                                    {{series.description|safe}}
                                </p>
                                
                                 
                                {% if series.id|check_enrollment:request.user  %}

                                   {% if series.lesson_plan %}
                                      <div class="text-center">  
                                        <a href="{% url 'test_series_detail' series.id %}" class="align-self-end btn  btn-success btn-shadow-hover font-weight-bolder  py-3">View Test Series</a>
                                        <a href="/media/{{series.lesson_plan}}" download class="align-self-end btn  btn-success btn-shadow-hover font-weight-bolder  py-3">Download Lesson Plan</a>
                                      </div>
                                   {% else %}  
                                      <a href="{% url 'test_series_detail' series.id %}" class="align-self-end btn  btn-success btn-shadow-hover font-weight-bolder w-100 py-3">View Test Series</a>
                                   {% endif %}
                                   
                                {% else %}

                                <h4 class="card-title font-weight-bolder text-center"> Not Enrolled </h4>
                      
                                {% endif %}

                     

                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Mixed Widget 14-->
                </div>

               
                {% endfor %}
                
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->


{% endblock %}