{% extends 'base.html' %}
{% load check_answer_tags %}

{% block content %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
      <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
          <!--begin::Page Heading-->
          <div class="d-flex align-items-baseline flex-wrap mr-5">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold my-1 mr-5">Discussion</h5>
            <!--end::Page Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
              <li class="breadcrumb-item">
                <a href="{%url 'home' %}" class="text-muted">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'test_series' %}" class="text-muted">Test test_series</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{%url 'test_series_detail' test.test_series.id %}" class="text-muted">{{test.test_series.title}}</a>
              </li>
  
              <li class="breadcrumb-item">
                <a href="#" class="text-muted">Discussion</a>
              </li>
            </ul>
            <!--end::Breadcrumb-->
          </div>
          <!--end::Page Heading-->
        </div>
        <!--end::Info-->
  
        </div>
        <!--end::Toolbar-->
      </div>
    </div>
    <!--end::Subheader-->
  <div>
  </div>

<div class="container">
    <div class="kt-pricing-1__item col-lg-12 ">

        <h1 class="text-center">Discussion on {{test}} answers</h1>
    </div>
    <div class="kt-pricing-1__item col-lg-12 ">
                                              
         <iframe sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" width="100%" height="550px" src="" frameborder="0" ></iframe>
                                                                 
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>


  $(document).ready(function(){

      var link = "{{test.discussion_video_link}}";   

      var res = link.replace("view", 'preview');   
      var link = res;     
                                                
      $('iframe').attr("src", link);    

  });

  var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }



</script>                               
                              

{% endblock %}