{% extends 'base.html' %}


{% block content %}
					<!--begin::Content-->
					<div class="content d-flex   " id="kt_content">        
                        					

                        <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
                            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                                <!--begin::Info-->
                                <div class="d-flex align-items-center flex-wrap mr-1">
                                    <!--begin::Page Heading-->
                                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                                        <!--begin::Page Title-->
                                        <h5 class="text-dark font-weight-bold my-1 mr-5">Contact Us</h5>
                                        <!--end::Page Title-->
                                        <!--begin::Breadcrumb-->
                                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                                            <li class="breadcrumb-item">
                                                <a href="/home/" class="text-muted">Home</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#" class="text-muted">Details</a>
                                            </li>
                                          
                                        </ul>
                                        <!--end::Breadcrumb-->
                                    </div>
                                    <!--end::Page Heading-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Toolbar-->
                               
                            </div>
                        </div>               

                        <div class="container">

                                <div class="row">

                                <!-- Grid column -->
                                
                                <div class="col-md-12 mb-3 col-lg-4">

                                    
                            <div class="icon_text">
                                <h3 style="text-align: left" class="masterstudy-custom-title">
                                   Postal Address:
                                </h3>
                                <p>No.5, AKS Nagar, Thadagam Road, Gandhi Park,<br />
                                 Backside to Jain Bhavan,
                                 <br>Coimbatore-641 001.</p>

                                 <p> Phone: +91 422 2478090</p>
                                 <p>Email: reception@kprias.com</p>
                                 <p>Mobile: +91 73739-11577 & +91 73739-11133</p>




                            </div>


                                </div>
                                
                                <div class="col-md-12 mb-3 col-lg-4">
                                
                                    <h3 style="text-align: left" class="masterstudy-custom-title">Location Info:
                                                    
                                    </h3>
                                  
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5056274830813!2d76.94578291411818!3d11.000639158024764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27c8cdc16f062ef!2sKPR%20IAS%20Academy!5e0!3m2!1sen!2sin!4v1601528165306!5m2!1sen!2sin" width="auto" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                                    </iframe>
                                </div>
                       
                               
                                <div class="col-md-12 mb-3 col-lg-4">


                                </div>
                                

                                <div class="col-md-12 mb-3 col-lg-4">

                                   
                                </div>

                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
                                    <div class="multiseparator vc_custom_1435665826984"></div>
                                    </div></div></div>
                                                    

                                </div>
                            </div>

                            </div>

                            </div>




{% endblock %}






