{% extends 'base.html' %}
{% load login_form_tags %}

{% block content %}


<div class="kt-portlet kt-portlet--height-fluid">
									
    <div class="kt-portlet__body">


            <div class="container">

                    <div class="row">
                
                      <!-- Post Content Column -->
                      <div class="col-lg-12">
                
                        <!-- Title -->
                        <h1 class="mt-4">

{{assignment.title|safe}}                              

</h1>


{% for afile in afiles %}
 

     <a href="{{afile.afile_url}}" download>Files {{ forloop.counter }}</a>,                             

{% endfor %}

<hr class="mt-3">


                                        
{% if assignment %}


<form class="mt-5" enctype="multipart/form-data" method="post"  >

  {% csrf_token %}

  <h5>Submit your answer</h5>

     {{ form.description| addclass:"form-control" }}

   <br> <br> <br>

     <p>{{ sfileform.sfile  }}</p>


      <input type="submit" value="Submit">

</form>

{% endif %}
                        

                    </div>
                </div>
                </div>
    </div>
</div>



{% endblock %}
