{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Staff Dashboard</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <div class="row">
                <div class="col-xl-5">

                <h4> Test Series </h4>
                 <div class="card  card-stretch gutter-b">
                    <!--begin::Body-->
                    <div class="card-body">
                        
                             {% for series in series %}
            
                             <div class="row p-1">
                                <div class="col-sm-6 mt-2"><h5>{{series.title}}</h5></div>
                                <div class="col-sm-6"> <a href="{% url 'test_series_dashboard' series.id %}" class="btn  btn-success btn-shadow-hover font-weight-bolder w-100 py-3">View Performance</a></div>

                              </div>
                           

                              {% endfor %}
                       
               
                    </div>
                </div>
            </div>    
            
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>



{% endblock %}